{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	{%  block title  %}
		荣誉资质
	{%  endblock  %}
</head>
<body>
	{%  block content  %}
	<div class="container-fluid">
		<div class="row">
			<img src="" class="img-responsive model-img">
		</div>
		<div class="container">
			<div class="row row-3">
				<div class="col-md-3">
					<div class="model-title">
						公司简介
					</div>
				<div class="model-list">
					<ul class="list-group">
						<li class="list-group-item" id="survey">
							<a href="{% url 'aboutApp:survey' %}">企业概括</a>
						</li>
						<li class="list-group-item" id="honor">
							<a href="{% url 'aboutApp:honor' %}">荣誉资质</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-9">
				<div class="model-details-title">
					荣誉资质
				</div>
				<div class="row">
					{%  for award in awards  %}
					<div class="clo-sm-6 col-md-4">
						<div class="thumbnail">
							<img src="{{award.photo.url}}">
							<div class="caption">
								<p>{{award.description}}</p>
							</div>
						</div>
					</div>
					{%  endfor  %}
				</div>
			</div>
		</div>
	</div>
	{%  endblock  %}
</body>
</html>